{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link  rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <title>Tecnologías Chapinas, S.A</title>
</head>
<body>
    <h1>Proyecto 3 - Procesador de archivos</h1>
    <form method="POST" id="myForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="fileInput" name="file" accept=".xml" />
        <button type="button" id="submitButton">Procesar archivo</button>
    </form>

    <div id="response">
        <textarea id="responseText" rows="10" cols="50"></textarea>
        <button type="button" id="getResponseButton">Obtener Mensajes</button>
    </div>

    <div id="response2">
        <textarea id="responseText2" rows="10" cols="50"></textarea>
        <button type="button" id="getResponseButton2">Obtener Sentimientos</button>
    </div>
    <a href="/myapp/pulpito">
        pulpito

    </a> 
    <button type="button" id="mostrarImagenButton">Mostrar piedad</button>
    <img src="{% static 'hola_aux.png' %}" id="mostrar_imagen" width="600" height="300">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#submitButton").click(function(e) {
                e.preventDefault();
                var form = new FormData();
                form.append('data', $("#inputData").val());
                form.append('file', $("#fileInput")[0].files[0]);
                var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
                form.append('csrfmiddlewaretoken', csrfToken);

                $.ajax({
                    type: "POST",
                    url: "",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $("#response").html(response.message);
                    },
                    error: function(xhr, status, error) {
                        $("#response").html("Error: " + error);
                    }
                });
            });

            $("#getResponseButton").click(function() {
                $.get("/myapp/get_response", function(response) {
                    $("#responseText").val(response.message);
                });
            });
            $("#getResponseButton2").click(function() {
                $.get("/myapp/get_response2", function(response) {
                    $("#responseText2").val(response.message);
                });
            });
            $(document).ready(function(){
                $("#mostrarImagenButton").click(function(){
                    $("#mostrar_imagen").toggle();
                })
            })
        });
    </script>
</body>
</html>