
head{
    background-color: aqua;
    text-align: center;

}

body{
    background-color: rgb(118, 75, 185);
}

h1 {
    color: #333; 
    font-size: 24px; 
    text-align: center; 
}


#myForm {
    margin: 20px auto; 
    width: 300px; 
}


#submitButton {
    background-color: #0074d9; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
}


#response {
    align-items: center;
    margin: 20px auto; 
    width: 300px; 
    text-align: center; 
}

#response2 {
    align-items: center;
    margin: 20px auto; 
    width: 300px; 
    text-align: center; 
}


#getResponseButton {
    background-color: #333;
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
}


a {
    text-decoration: none; 
}


#mostrarImagenButton {
    background-color: #333; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
}

#imagenMostrada {
    display: none; 
    margin: 20px auto; 
    max-width: 100%; 
    height: auto; 
}

div {
    background-color: rgba(171, 243, 251, 0.423);
    text-align: center;
}

button{
    text-align: center;
    background-color: #0074d9; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
}

