/* Estilo para el encabezado h1 */
h1 {
    color: #333; /* Color del texto */
    font-size: 24px; /* Tamaño de fuente */
    text-align: center; /* Alineación del texto */
}

/* Estilo para el formulario */
#myForm {
    margin: 20px auto; /* Margen superior e inferior, centrado en la página */
    width: 300px; /* Ancho del formulario */
}

/* Estilo para el botón de envío */
#submitButton {
    background-color: #0074d9; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno (padding) interior */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

/* Estilo para el contenedor de respuesta */
#response {
    margin: 20px auto; /* Margen superior e inferior, centrado en la página */
    width: 300px; /* Ancho del contenedor */
    text-align: center; /* Alineación del texto */
}

/* Estilo para el botón de obtención de respuesta */
#getResponseButton {
    background-color: #333; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno (padding) interior */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

/* Estilo para el enlace */
a {
    text-decoration: none; /* Sin subrayado en el enlace */
}

/* Estilo para el botón de mostrar imagen */
#mostrarImagenButton {
    background-color: #333; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno (padding) interior */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

/* Estilo para la imagen mostrada */
#imagenMostrada {
    display: none; /* Ocultar la imagen inicialmente */
    margin: 20px auto; /* Margen superior e inferior, centrado en la página */
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática de la imagen */
}

div {
    background-color: rgba(171, 243, 251, 0.423);
    text-align: center;
}